/*webkit-sassui-toast Start*/
.webkit-sassui-toast {
  min-width: 100px;
  max-width: 300px;
  padding: 10px;
  box-sizing: border-box;
  border-radius: 10px;
  top: 38.2%;
  left: 50%;
  position: fixed;
  font-size: 14px;
  z-index: 90;
  transform: translate(-50%, -50%);
  color: #fff;
}

@keyframes webkit-sassui-toast-fade-in {
  to {
    background: rgba(0, 0, 0, 0.8);
  }
}

@keyframes webkit-sassui-toast-fade-out {
  from {
    background: rgba(0, 0, 0, 0.8);
  }
  to {
    background: transparent;
  }
}

.webkit-sassui-toast.visible-true, .webkit-sassui-toast[data-visible="true"] {
  background: transparent;
  animation: webkit-sassui-toast-fade-in 300ms ease-in forwards;
}

.webkit-sassui-toast, .webkit-sassui-toast.visible-false, .webkit-sassui-toast[data-visible="false"] {
  animation: webkit-sassui-toast-fade-out 300ms ease-in forwards;
}

/*webkit-sassui-toast End*/
button {
  border: none;
  outline: none;
}

#btn {
  width: 90%;
  margin: 0 auto;
  background: #007aff;
  color: #fff;
  border: none;
  padding: 14px;
  border-radius: 10px;
  text-align: center;
  position: absolute;
  top: 18.2%;
  left: 50%;
  transform: translateX(-50%);
}

#btn:active {
  background: #0062cc;
}
